/*-- Global --*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9fd;
}

.container {
  position: relative;
  width: 1120px;
  height: 100%;
  z-index: 1;
  margin: 0 auto;
  border: 2px solid black;
  text-align: center;
}

/*-- Section 1 --*/

#section1 {
  position: relative;
  text-align: center;
  z-index: 1;
}

/*-- Section 2 --*/

#section2 {
  position: relative;
}

#section2 .split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 200px;
}

#section2 .left {
  left: 0;
  background-color: #f9f9fd;
}

#section2 .right {
  right: 0;
  background-color: #f9f9fd;
}

#section2 h1{
  text-align: center;
  padding-bottom: 10px;
}

#section2 .examinateur {
  border: 2px solid red;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

#section2 .examinateur p {
  margin-top: 5px;
}

#section2 .patient {
  border: 2px solid blue;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

#section2 #lName,
#section2 #fName,
#section2 #genre-select {
  margin-right: 10px;
}

/*-- Section 3 --*/

#section3 {
  position: relative;
  text-align: center;
  top: 500px;
}

#section3 .button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #7aa8b7;
  border-radius: 6px;
  outline: none;
}